{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Login!{% endblock %}

{% block content %}
<div class="container">
  <br>
  <h1>
    Login or Create a New Account
  </h1>
  <div class="row">
    <div class="col-12 col-sm-12 col-lg-6 text-center">
      <br>
      <h2>
        New User
      </h2>
      <br>
      <p>Create an account to start interacting with the community</p>
      <br>
      <a href="{% url 'accounts:signup' %}" class="btn btn-secondary">Create New Account</a>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 bg-light">
      <div>
        <br>
        <h2>
          Registered User
        </h2>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button type="submit" name="button" class="btn btn-secondary">Sign in</button>
          <small class="text-muted ml-2">
            <a href="{% url 'accounts:password_reset' %}">Forgot Password</a>
          </small>
        </form>
        <br>
      </div>
    </div>
  </div>
  <br>
</div>
<br>
{% endblock %}


