
{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}Welcome to Christmas Recipes{% endblock %}

{% block content %}
<div class="mx-auto">
  <br>
  <h1 class="product_title text-center">Create a new account</h1>
  <br>
  <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
    <br>
    <p>Enter the following information to create a new account</p>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <button type="submit" name="button" class="btn btn-secondary">Sign Up</button>
    </form>
    <br>
  </div>
</div>

{% endblock %}